*.swp
*.swo
*.bak
vim/yankring_history_v2.txt
.private.vim
.private_aliases
mutt/Drafts
mutt/Sent
mutt/aliases
mutt/gmail/
mutt/gmail_pw.gpg
mutt/gmailrc
mutt/luke_mutt_readme.md
mutt/yahoo_pw.gpg
mutt/yahoorc
mutt/zoho/
mutt/zoho_pw.gpg
mutt/zohorc
vim/view/
vim/bundle/FuzzyFinder
vim/bundle/L9
vim/bundle/YouCompleteMe
vim/bundle/ale
vim/bundle/jedi-vim
vim/bundle/vim-css-color
vim/bundle
dotvenv
Session.vim
